:root {
  --size : 100px;
}
html, body {
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, var(--size));
  grid-template-rows: repeat(3, var(--size));
  border: 1px solid grey;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  font-size: 2rem;
}